.projectCard {

}

.projectCard__imageWrapper {
    height: 500px;
    width: 100%;
    position: relative;
}

.projectCard__name {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}