.project-card {
    width: 350px;
}

.project-card__image-wrapper {
    height: 500px;
    width: 100%;
    position: relative;
}

.project-card__name {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
