.page {
    max-width: 1020px;
    margin: auto;
    padding: 0 60px;
}

.page__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.page__cta {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}