.footer {
    display: flex;
    height: var(--footer-height);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.footer__copyright {
    text-align: center;
}
