.page__main-block {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.page__main-block-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.page__lastets-projects-title {
    display: flex;
    justify-content: center;
}
