.block-project {
    --card-width: 400px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block-project__info-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.block-project__name {
    margin-top: 20px;
    text-align: center;
}

.block-project__details {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.block-project__description {
    text-align: center;
    padding-bottom: 1.5em;
}
