.page {
    margin: auto;
    width: 100%;
    padding: 0 60px 80px 60px;
    min-height: 600px;
    max-width: 1200px;
}

.page__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1px) and (max-width: 999px) {
    .page {
        padding: 0 20px 60px 20px;
        min-height: auto;
    }
}
