.page {
    margin: auto;
    width: 100%;
    padding: 0 60px 80px 60px;
    min-height: 600px;
    max-width: 1200px;
}

.page__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
}
