.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navigation-height);
}

.navigation__link {
    text-transform: uppercase;
    padding: 0 15px;
}

.navigation__mobile-link {
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 40px;
}

.navigation__desktop {
    display: flex;
    height: var(--navigation-height);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: var(--background);
    z-index: 1;
    border-bottom: 1px solid gray;
}

.navigation__mobile {
    display: none;
    position: fixed;
    height: var(--navigation-height);
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 0 30px;
    z-index: 1;
    border-bottom: 1px solid gray;
    background: var(--background);
}

.navigation__mobile-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--background);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.navigation__cta-icon {
    z-index: 1;
}

@media only screen and (min-width: 1px) and (max-width: 999px) {
    .navigation__desktop {
        display: none;
    }
    .navigation__mobile {
        display: flex;
    }
}
