.block-text-and-image {
    display: flex;
    gap: 40px;
}

.block-text-and-image__section {
    display: flex;
    flex-direction: column;
}

.block-text-and-image__paragraph {
    padding-bottom: 1.5em;
}

.block-text-and-image__image-wrapper {
    position: relative;
    aspect-ratio: 2 / 3;
    height: auto;
    width: 285px;
}

@media only screen and (min-width: 1px) and (max-width: 999px) {
    .block-text-and-image {
        flex-direction: column;
        gap: 40px;
    }

    .block-text-and-image__image-wrapper {
        width: 100%;
    }
}
